<h1 class="clearfix">
    Welcome, Ali
    <div class="pull-right">
        <% if params[:show_all].present? %>
            <%= link_to "Show Current", [:admin, :posts], class: 'btn btn-secondary' %>
        <% else %>
            <%= link_to "Show All", polymorphic_path([:admin, :posts], show_all: true), class: 'btn btn-secondary' %>
        <% end %>
        <%= link_to "New", [:new, :admin, :post], class:"btn btn-primary-theme" %>
    </div>
</h1>

<table  class="table table-hover">
    <tr>
        <th>title</th>
        <th>tags</th>
        <th>status</th>
        <th>created at</th>
        <th>updated at</th>
        <th></th>
    </tr>
    <% posts.each do |post|%>
        <tr>
            <td><%= post.render_title(:admin) %></td>
            <td class="tags">
                <%= post.render_tag_list %>
            </td>
            <td><%= post.status %></td>
            <td><%= post.render_created_at %></td>
            <td><%= post.render_updated_at %></td>
            <td><%= post.render_edit_button %></td>
        </tr>
    <% end %>
</table>
