<div class="panel-post panel">
    <div class="panel-heading">
        <h2 class="panel-title clearfix">
            <%= post.render_title %>
            <small>by Ali at <%= post.render_created_at %></small>
            <div class="pull-right">
                <%= post.render_edit_button %>
            </div>
        </h2>

    </div>

    <div class="panel-body">
        <%= post.render_body %>
    </div>
    <div class=" tags panel-footer">
        <%= post.render_tag_list %>
    </div>
</div>
