<div class="col-md-3 pull-right">
    <% if current_user.present? %>
        <div class="panel panel-default">
            <div class="panel-heading">
                <h2 class="panel-title">Admin Utility Quicklinks</h2>
            </div>
            <div class="panel-body center">
                <%= link_to "New", [:new, :admin, :post], class:"btn btn-secondary" %>
                <%= link_to "Admin Panel", [:admin, :posts], class:"btn btn-secondary"%>
            </div>
        </div>
    <% end %>
    <%= render_cell :about, :show %>
    <%= render_cell :posts, :recent %>
    <%= render_cell :posts, :tag_cloud %>
</div>