<!DOCTYPE html>
<html>
<head>
    <title>Ali Neer</title>
    <%= stylesheet_link_tag "application", media: "all",
                            "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>
<%= render 'layouts/header' %>
<% if flash[:notice]%>
    <div class="banner">
        <%= flash[:notice] %>
    </div>
<% end %>
<div class="container">
    <div class="row">
        <div class="col-md-9">

<%= yield %>
        </div>
        <%=  render 'layouts/aside'%>
    </div>

</div>
</body>
</html>
